{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1>Requirement Form</h1>
</div>
<div class="container">
    <form method="POST" action="" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.name.label}}{{form.name()}}<br>
        {{form.requirements.label}}{{form.requirements()}}<br>
        {{form.location.label}}{{form.location()}}<br>
        {{form.district.label}}{{form.district()}}<br>
        {{form.state.label}}{{form.state()}}<br>
        {{form.email.label}}{{form.email()}}<br>
        {{form.contact.label}}{{form.contact()}}<br>
        {{form.doc.label}}{{form.doc()}}<br>
        {{form.submit()}}
    </form>
</div>
{% endblock %}